* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #0a4da2;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 30px;
}


.form {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.form button {
  padding: 10px 15px;
  background-color: #0a4da2;
  color: white;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #083b7a;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f0f0f0;
}


.hero {
  background: white;
  padding: 30px;
  border-radius: 6px;
  margin-bottom: 30px;
}

.hero h2 {
  margin-bottom: 8px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 10px;
  color: #0a4da2;
}
